      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>Terapia Ocupacional por Camila Andrade e Leilane Araújo</p>
            </div>
          </div>
        </div>
      </footer>