        <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
             <li class="button"><%= link_to "Home",  root_path %></li>
             <li class="button"><%= link_to "Artigos", index_path %></li>
             <% unless user_signed_in? %>
                <li class="button"><%= link_to "Log in", new_user_session_path %></li>
              <%else%>
                <li class="button"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              <%end%>
            </ul>
          </div>
          <h1>Blog <small>Projeto Cuidar</small></h1>
          <hr/>
        </div>
      </div>
